.tabs__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 23px;
  list-style-type: none;
  padding: 40px 0;
  margin: 0;
  text-align: center;
  @media (max-width: 374px) {
    padding-left: 5px;
    padding-right: 5px;
    gap:3px
  }
}

.tabs__list-item.ui-tabs-active {
  a {
    font-weight: 700;
  }
}

.tabs__link {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: var(--black);

  &:hover {
    font-weight: 700;
  }

  &:before {
    display: block;
    content: attr(data-text);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.tabs__section {
  position: relative;
  background: #fff;
  margin-top: -18px;
  padding-top: 32px;
  padding-bottom: 40px;
  border-radius: 20px 20px 0 0;
}

.tabs__section-title {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

@media (min-width: 1024px) {
  .tabs__section-title {
    font-size: 36px;
  }
  .tabs__list {
    justify-content: center;
    gap: 64px;
    padding: 48px 0 56px;
  }
  .tabs__link {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -8px;
      width: 0;
      height: 4px;
      transition: width .3s, left .3s;
      background-color: var(--yellow);
    }

    &:hover {
      &::after {
        width: 100%;
        transition: 0.3s ease-in-out;
      }
    }
  }
}
